.PostList__Item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height:200px;
    height:400px;

}
.PostList__Heading {
    font-weight: 600;
}
.btn--primary a{
    color:#fff;
}